/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
/.idea/
.idea*
/resources/public/
tic-tac-toe.iml
.cpcache
/clojure-tic-tac-toe.iml
/spec/clj/tic_tac_toe/data/test_edn1.edn
